{% load static %}

<html>
    <head>
        <title>Frank Portolese | Jazz guitar</title>
        <link rel="stylesheet" href="{% static 'gig_calendar/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet"> 
    </head>
    
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'gig_list' %}">Gigs</a>
                </li>
                <li>
                    <a href="{% url 'bio' %}">Bio</a>
                </li>
                <li>
                    <a href="{% url 'media' %}">Media</a>
                </li>
                <li>
                    <a href="{% url 'blog_list' %}">Blog</a>
                </li>
                <li >
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </nav>
        
        <!-- Jumbotron -->
        <div class="page-header">
            <h1><a href="/">Frank Portolese</a></h1>
            <h3>Chicago jazz guitar alive and well in Southwest Florida.</h3>
        </div>
        
        <!-- Block content -->
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <div class="footer">
          <p>© {% now "Y" %} Copyright: <a href="{% url 'home' %}">www.frankportolese.com</a></p>
        </div>
    
    </body>
</html>
