{% load static %}

<html>
    <head>
        <title>Frank Portolese | Jazz guitar</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'gig_calendar/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet"> 
    </head>
    
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gig_list' %}">Gigs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bio' %}">Bio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'media' %}">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog_list' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </nav>
        
        <!-- Jumbotron -->
        <div class="page-header">
            <h1><a href="/">Frank Portolese</a></h1>
            <h3>Chicago jazz guitar alive and well in Southwest Florida.</h3>
        </div>
        
        <!-- Block content -->
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <div class="footer">
          <p>© {% now "Y" %} Copyright: <a href="{% url 'home' %}">www.frankportolese.com</a></p>
        </div>
    
    </body>
</html>
