{% load static %}

<html>
    <head>
        <title>Frank Portolese | Jazz guitar</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'gig_calendar/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="page-header">
            <h1><a href="/">Frank Portolese</a></h1>
            <h3>Chicago-style jazz guitar in sunny Florida.</h3>
        </div>
    
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
