{% extends 'gig_calendar/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h2 class="text-center">The Bio</h2><br>

        <!-- Paragraph 1 -->
        <div class="row">
            <div class="col-8"><br>
                <p>
                    I come from Mishawaka, Indiana. I was one of the many kids 
                    whose lives were changed by the 1964 appearances of the 
                    Beatles on the Ed Sullivan TV show. At age 11 I received my 
                    first guitar and took six months of lessons, cruelly cut 
                    short by the Finance Minister in my house, who determined 
                    that I was not practicing my lesson material. This may have 
                    been partially true, but what the FM overlooked was that I 
                    was bringing the radio into my bedroom each night and 
                    learning the great pop hits of the 60s by ear. I became a 
                    rock and roller in High School, but a lack of traditional 
                    skills intimidated me into not academically pursuing music 
                    beyond High School.
                </p>
            </div>
            <div class="col">
                <br>
                <img width="250px" class="bio-image" src="{% static 'gig_calendar/images/5.jpg' %}"/>
            </div>
        </div>
        <!-- Paragraph 2 -->
        <div class="row">
            <div class="col"><br>
                <p>
                    My first year of college was terrible, and I hated it and 
                    everything else. I left at the end of that first year I 
                    went to New York, stayed with friends, and determined to 
                    become a rock and roll guitar player. I lasted three months, 
                    got homesick, and returned to Indiana, tail between my legs.
                     Mind you, I had a ball in New York, but ultimately it was 
                     too fast for small town me. My Dad found me a better 
                     school, and so I tried again, this time at DePauw 
                     University in Southern Indiana. I completed a degree in 
                     Journalism there, however, it was also there that I heard 
                     the recordings of jazz guitarists George Benson and Joe 
                     Pass. This changed everything. I lost interest in 
                     Journalism and in rock and roll. Something that I never 
                     knew was missing had suddenly been found. I knew that I 
                     had to somehow learn this music. Failure was not an 
                     option, but it was a distinct possibility. Regardless, 
                     after graduation in 1975 I went to Chicago.
                </p>
            </div>
        </div>
        <!-- Paragraph 3 -->
        <div class="row">
            <div class="col"><br>
                <img width="250px" class="bio-image" src="{% static 'gig_calendar/images/3.jpg' %}"/>
            </div>
            <div class="col-8"><br>
                <p>
                    There I studied privately with the great Jack Cecchini for 
                    five years, and learned the instrument. I also studied Jazz 
                    Improvisation with Joe Daley and voice with Bill Rush. That 
                    was the extent of my formal musical education. 
                    <br>
                    It was a great time to be in Chicago. The Rush Street 
                    clubs, the Lincoln Avenue Blues community, and the 
                    great South Side were grooving hard. Jazz clubs big and 
                    small, jam sessions and rehearsal bands were 
                    everywhere. This was my University, in the mid-1970s. I 
                    sat next to great players, asked them questions, and 
                    they would answer me. For three years I was schooled by 
                    John Wright, Marshall Thompson, Corky Roberts and later 
                    Eddie DeHaas at the Pickwick, a Monday jam session in 
                    the suburbs. If I play today with any soul or style, 
                    that’s where I got it. 
                </p>
            </div>
        </div>
        <!-- Paragraph 4 -->
        <div class="row">
            <div class="col"><br>
                <p>
                    Starting in the 80s I entered into life as a professional 
                    musician, doing whatever my abilities and willingness to 
                    adapt would allow. Jazz gigs, rock gigs, blues gigs, 
                    society gigs, teaching and a whole lot of commercial playing
                    , what is now called jobbing or casual dates. I made a 
                    living and I learned from those more experienced than me. 
                    In 1994 I released my first CD as a leader, “Transparent,” 
                    on the Southport label. “Last Call,” also on Southport, was 
                    the next CD, in 1996. Later came the culmination of my 
                    life’s work, “Plectrum Jazz Guitar Solos.” Into the 90s I 
                    was leading bands more, both in Jazz and Commercial music. 
                    I travelled a little over the years, to New York, LA, Las 
                    Vegas, Miami, Hawaii and throughout most of the states, and 
                    also in the UK, France and Switzerland. But really, there 
                    was so much happening in Chicago in those years that it was 
                    possible to make an actual living without hitting the road 
                    that much.  
                </p>
            </div>
        </div>
        <!-- Paragraph 5 -->
        <div class="row">
            <div class="col-8"><br>
                <p>
                    Over the years I performed and/or recorded with 
                    Eddie Harris, Les McCann, Shelley Manne, Peter Erskine, Ira 
                    Sullivan, Rodney Whittaker, Catherine Russell, Buddy 
                    Childers, Ron Blake, Mike Dease, Victor Garcia, Howard Levy, 
                    Rudresh Mahanthappa, Johnny Frigo, Mark O’Connor, Claude 
                    “Fiddler” Williams, a bunch of others. I got to hang and 
                    sit in with Joe Pass once, that was unforgettable. And now 
                    after many years in Chicago, we made the jump to Fort 
                    Myers, where the living is easy. I continue to play with 
                    the fine musicians in Southwest Florida and beyond. And, 
                    yes, I’m keeping up my chops.
                </p>
            </div>
            <div class="col">
                <br>
                <img width="250px" class="bio-image" src="{% static 'gig_calendar/images/6.jpg' %}"/>
            </div>
        </div>
        <!-- Paragraph 6 -->
        <div class="row">
            <div class="col-12"><br>
                    <img class="center" src="{% static 'gig_calendar/images/7.jpg' %}"/>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}
