{% extends 'gig_calendar/base.html' %}
{% load static %}

{% block content %}
    <div class="blog-container">
        <div class="blog-list-header">
            <img class="blog-list-image" src="{% static 'gig_calendar/images/blog_header.png' %}"/>
        </div>
        {% for blog_post in blog_posts %}
            <div class="blog-list-title">
                <h3>
                    <a href="{% url 'blog_post_detail' blog_post.id %}">
                        {{ blog_post.title }}
                        {% if blog_post.is_lesson %}
                            <span class="badge">Lesson</span>
                        {% endif %}
                    </a>
                </h3>
                <h4>{{ blog_post.get_truncated_text }}</h4>
                <p>Posted by Frank on <i>{{ blog_post.date }}</i></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
