{% extends 'gig_calendar/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{{ blog_post.title }}</h1>
        <h4 class="text-center">Published by Frank on <i>{{ blog_post.date }}</i></h4>
        <div class="blog-post-text">
            <p>{{ blog_post.text|linebreaks }}</p>
        </div>
        <h4 class="text-center">
            ⇠
            <a href="#">Back to blog posts</a>
        </h4>
    </div>
    <br><br><br>
{% endblock %}
