{% extends 'gig_calendar/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Contact</h2><br>

        <div class="contact">
            <p><img src="{% static 'gig_calendar/images/4.jpg' %}" alt="Martino" style="width:280px;margin-right:15px;margin-bottom: 5px">
                For booking and private lesson inquiries, you can email me directly.<br>
                Write to <b>frank [at] frankportolese.com</b>.<br><br>
                To contact the webmaster, please write to <b>coreycr [at] icloud.com</b>.<br>
                Should you notice something broken with the website, he'll fix it. (His thanks in advance.)
            </p>
        </div>
{% endblock %}
