{% extends 'gig_calendar/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2 class="media-title" style="margin-top: 0;">Contact</h2>

        <div class="contact">
            <p><img src="{% static 'gig_calendar/images/4.jpg' %}" alt="Frank">
            For booking and private lesson inquiries, you can email me directly. Write to <a href="mailto:frank@frankportolese.com">frank@frankportolese.com</a>.</p>
            <p>To contact the webmaster, please write to <a href="mailto:coreycr@hey.com">coreycr@hey.com</a>. Should you notice something broken with the website, he'll fix it. (His thanks in advance.)
            </p>
        </div>
{% endblock %}
