{% extends 'gig_calendar/base.html' %}

{% block content %}
    <div class="container">
        <div class="gig-detail">
            <h2 class="center">{{ gig.date }} - {{ gig.time|date:"P" }}</h2>
            <h1 class="center">{{ gig.venue }}</h1>
            {% if gig.venue.address %}
                <p class="center">
                    Address: {{ gig.venue.address }}
                    <a href="{{ gig.venue.get_google_friendly_address }}">
                        (directions)
                    </a>
                </p>
            {% endif %}

            </p>
            {% if gig.description %}
                {{ gig.description|linebreaks }}
            {% endif %}
            <p>
                <a href="{% url 'gig_list' %}">Back to all gigs</a>
            </p>
        </div>
    </div>
{% endblock %}
