{% extends 'gig_calendar/base.html' %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Upcoming performances from Frank</h3><br>
        {% for gig in gigs %}
            <div class="row">
                <div class="col">
                    <span class="gig-date-day">{{ gig.date|date:"d" }}</span>
                    <span class="gig-date-month">{{ gig.date|date:"M" }}</span>
                </div>
                <div class="col-6">
                    <span class="gig-venue">{{ gig.venue }}</span>
                </div>
                <div class="col">
                    <span class="gig-info">
                        <button type="button" class="btn btn-outline-dark">More info</button>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
