{% extends 'gig_calendar/base.html' %}

{% block content %}
    <div class="container">
        {% if future_gigs %}
            <span class="gig-row-header">Upcoming date / Venue</span>
            <div class="gig-row-divider"></div>
            {% for future_gig in future_gigs %}
                <div class="gig-row">
                    <span class="gig-row-day">{{ future_gig.date|date:"d" }}</span>
                    <span class="gig-row-month">{{ future_gig.date|date:"M" }}</span>
                    <span class="gig-row-venue">{{ future_gig.venue }}</span>
                    <span class="gig-row-info">
                        <a href="{% url 'gig_detail' future_gig.id %}">
                            <button type="button" class="btn btn-outline-dark">More info</button>
                        </a>
                    </span>
                </div>
                <div class="gig-row-divider"></div>
            {% endfor %}
        {% else %}
            <h3 class="text-center">
                There are currently no shows. Check back for updates.<br><br>
                For now, please enjoy Frank's 
                <a href="https://www.youtube.com/results?search_query=frank+portolese">
                    work on YouTube.
                </a>
            </h3><br>
        {% endif %}
    </div>
{% endblock %}
