{% extends 'gig_calendar/base.html' %}

{% block content %}
    <div class="container">
        <div id="gig-detail">
            <h1 class="center">{{ gig.venue }}</h1>
            <h2 class="center">{{ gig.date }} - {{ gig.time|date:"P" }} {{ gig.date|date:"(l)" }}</h2>
            {% if gig.venue.address %}
                <p class="center">
                    Address: {{ gig.venue.address }}
                    <a href="{{ gig.venue.get_google_friendly_address }}">
                        (directions)
                    </a>
                </p>
            {% endif %}

            {% if gig.info_URL %}
                <p class="center">
                    <i><a href="{{ gig.info_URL }}">Click here</a> for the venue's website</i>
                </p>
            {% endif %}

            </p>
            {% if gig.description %}
                {{ gig.description|linebreaks }}
            {% endif %}
            <p>
                <a href="{% url 'gig_list' %}">Back to all gigs</a>
            </p>
        </div>
    </div>
{% endblock %}
