{% extends 'gig_calendar/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <!-- Welcome message -->
        <div class="welcome-message">
            <span class="greeting">
                Hello, everybody, and welcome to my website.
            </span>
            <p>
                I am a Jazz guitar player residing in Southwest Florida. 
                Prior to my relocation down here in Paradise, I spent 
                over 40 years as a part of the thriving music scene in Chicago. 
                I performed with the best of the best, recorded three CDs and 
                written two books. As educator, I've passed down what I've 
                learned from the greats.
            </p>
            <p>
                This site is where I'll post my gig calendar, my personal blog
                musings and links to my performing/instructional videos. 
                <i>Thanks for visiting — don't be a stranger!</i>
            </p>
        </div>

        <!-- Upcoming performances -->
<!--         <h1 class="text-center">Upcoming performances</h1> -->
    </div>
{% endblock %}
