{% extends 'gig_calendar/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <!-- Upcoming performances -->

        <!-- Gig list header -->
        {% if three_possible_future_gigs %}
            <div class="homepage-gigs">
                <h3 class="text-center">
                    Upcoming performances 
                    <a href="{% url 'gig_list' %}">(see all)</a>
                </h3><br>
                <div class="d-flex">
                    <!-- Sets div spacing depending on the number of gigs -->
                    <!-- Maximum 3, minimum 1 -->
                    {% for future_gig in three_possible_future_gigs %}
                        {% if three_possible_future_gigs|length == 3 %}
                            <div class="col-4">
                        {% elif three_possible_future_gigs|length == 2 %}
                            <div class="col-6">
                        {% elif three_possible_future_gigs|length == 1 %}
                            <div class="col-12">
                        {% endif %}
                                <div class="homepage-gig">
                                    <h3>{{ future_gig.venue }}</h3>
                                    <h4>
                                        {{ future_gig.date|date:"M. j" }}
                                        —
                                        {{ future_gig.time|date:"P" }}
                                    </h4>
                                    <a href="{% url 'gig_detail' future_gig.id %}">
                                        (More info)
                                    </a>
                                </div>
                            </div>
                    {% endfor %}    
                </div>
            </div>
            <br>
        {% endif %}

        <!-- Welcome message -->
        <br>
        <div class="welcome-message">
            <span class="greeting">
                Hello, everybody, and welcome to my website.
            </span>
            <p>
                I am a Jazz guitar player residing in Southwest Florida. 
                Prior to my relocation down here in Paradise, I spent 
                over 40 years as a part of the thriving music scene in Chicago. 
                I performed with the best of the best, recorded three CDs and 
                written two books. As educator, I've passed down what I've 
                learned from the greats.
            </p>
            <p>
                This site is where I'll post my gig calendar, my personal blog
                musings and links to my performing/instructional videos. 
                <i>Thanks for visiting — don't be a stranger!</i>
            </p>
        </div>

        <!-- Video -->
            <br>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5EltYqjD6fM?rel=0" allowfullscreen></iframe>
            </div>
    </div>
    <br><br><br>
{% endblock %}
