{% extends 'gig_calendar/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <!-- Upcoming gigs -->
        {% if three_possible_future_gigs %}
        <div class="alert alert-info" role="alert">
                Upcoming shows: 
                {% for gig in three_possible_future_gigs %}
                    <a href="{% url 'gig_detail' gig.id %}">
                        {{ gig.venue }}
                        ({{ gig.date|date:"M. j" }})
                    </a>
                    {% if not forloop.last %}
                        |
                    {% endif %}
                {% endfor %}
        </div>
        {% else %}
        <!-- Show latest blog post if no gigs -->
            <div class="alert alert-primary" role="alert">
                Lastest blog post: <a href="{% url 'blog_post_detail' latest_blog_post.id %}">{{ latest_blog_post.title }} ({{ latest_blog_post.date }})</a>
            </div>
        {% endif %}

        <!-- Welcome message -->
        <br>
        <div class="welcome-message">
            <span class="greeting">
                Hello, everybody, and welcome to my website.
            </span>
            <p>
                I am a Jazz guitar player residing in Southwest Florida. 
                Prior to my relocation down here in Paradise, I spent 
                over 40 years as a part of the thriving music scene in Chicago. 
                I performed with the best of the best, recorded three CDs and 
                written two books. As educator, I've passed down what I've 
                learned from the greats.
            </p>
            <p>
                This site is where I'll post my gig calendar, my personal blog
                musings and links to my performing/instructional videos. 
                <i>Thanks for visiting — don't be a stranger!</i>
            </p>
        </div>

        <!-- Video -->
            <br>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5EltYqjD6fM?rel=0" allowfullscreen></iframe>
            </div>
    </div>
    <br><br><br>
{% endblock %}
