{% extends 'gig_calendar/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <!-- Music -->
        <h2 class="text-center">Plectrum Jazz Guitar Solos (2011)</h2>
        <p class="text-center"><i>
            “Recitals like this are few and far between, making Plectrum Jazz 
            Guitar Solos a not-to-be-missed album.”
            <br>
            — C. Michael Bailey 
                <a href="https://www.allaboutjazz.com/plectrum-jazz-guitar-solos-frank-portolese-self-produced-review-by-c-michael-bailey.php">
                    All About Jazz
                </a>
        </i></p>
        <!--   Apple Music iFrame   -->
        <iframe id="itunes-iframe" allow="autoplay *; encrypted-media *;" style="width:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/plectrum-jazz-guitar-solos/405591539?app=music" height="350" frameborder="0"></iframe>
        <br><br>
        <!-- Instructional YouTube videos -->
        <h2 class="text-center">Instructional YouTube videos</h2>
        <p class="text-center">
            Over the years I’ve uploaded free video lessons to YouTube
            for those interested in learning jazz guitar. I teach you
            the essentials of learning the neck, beginning jazz chords 
            and scales. It’s all there. There’s no excuse now.<br><br>
            Find the lessons on my channel 
            <a href="https://www.youtube.com/user/Bopizoid">
                here.
            </a>
        </p>
        <!-- Embedded YouTube player -->
        <div style="text-align:center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ogdtahxgYVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <br><br><br>
{% endblock %}
