{% extends 'gig_calendar/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Plectrum Jazz Guitar Solos (2011)</h2>
        <p class="text-center"><i>
            “Recitals like this are few and far between, making Plectrum Jazz 
            Guitar Solos a not-to-be-missed album.”
            <br>
            — C. Michael Bailey 
                <a href="https://www.allaboutjazz.com/plectrum-jazz-guitar-solos-frank-portolese-self-produced-review-by-c-michael-bailey.php">
                    All About Jazz
                </a>
        </i></p>
        
        <!--   Apple Music iFrame   -->
        <iframe id="itunes-iframe" allow="autoplay *; encrypted-media *;" style="width:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/plectrum-jazz-guitar-solos/405591539?app=music" height="350" frameborder="0"></iframe>
    </div>

    <br><br><br>
{% endblock %}
