h1, h2, h3, h4 {
    font-family: 'EB Garamond', serif;
}

p {
    font-family: 'EB Garamon', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#itunes-iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    height: 220px;
    background: url("images/header.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-color: #0E1817;
    white-space: nowrap;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40pt;
    text-decoration: none;
    margin-top: 44px;
    margin-left: 150px;
}

.page-header h3 {
    color: #ffffff;
    font-size: 22px;
    margin-left: 340px;
    margin-top: -10px;
}

.container {
    width: 65%;
    padding-top: 20px;
    padding-bottom: 27px;
}

.row {
    position: relative;
}

.welcome-message {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.greeting {
    font-family: 'Just Another Hand', cursive;
    font-size: 30pt;
}

.homepage-gigs {
    font-family:'EB Garamond', serif;
    text-align: center; 
}

.homepage-gig {
    position: relative;
    width: 100%;
}

.gig-row {
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.gig-row-header {
    position: relative;
    width: 100%;
}

.gig-row-divider {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.gig-row-day {
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 30pt;
    vertical-align: middle;
}

.gig-row-month {
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 18pt;
    vertical-align: middle;
}

.gig-row-venue {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    margin-left: 30px;
    width: 300px;
    vertical-align: middle;
}

.gig-row-info {
    display: inline;
    float: right;
    vertical-align: middle;
}

.gig-detail {
    text-align: center;
}

.blog-list-header {
    margin: 0 auto;
}

.blog-list-image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-list-title {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.blog-list-title h3 {
    font-family: 'Catamaran', sans-serif;
}

.blog-list-title h4 {
    font-family: 'Roboto', sans-serif;
}

.blog-detail-title h3 {
    font-family: 'Catamaran', sans-serif;
}

.blog-detail-title p {
    font-family: 'Roboto', sans-serif;
}

.blog-detail-text {
    padding-top: 5px;
    font-size: 15pt;
    padding-bottom: 15px;
}

.blog-detail-text p {
    font-family: 'Roboto', sans-serif;
}

.blog-detail-bottom {
    padding-top: 15px;
    font-family: 'Catamaran', sans-serif;
}

.bio-copy {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

.bio-img-right-copy img {
    float: right;
}

.bio-img-left-copy img {
    float: left;
}

.contact {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

.contact img {
    float: left;
}

.footer {
   position: fixed;
   left: 0;
   bottom: -2px;
   width: 100%;
   padding-top: 10px;
   background-color: #101717;
   color: white;
   font-size: 10pt;
   text-align: center;