h1, h2, h3, h4 {
    font-family: 'EB Garamond', serif;
}

.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    height: 180px;
    background: url("images/header.png");
    background-repeat: no-repeat;
    background-size: 240px;
    background-color: #0E1817;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin-top: 44px;
    margin-left: 120px;
}

.page-header h3 {
    color: #ffffff;
    font-size: 18px;
    margin-left: 280px;
    margin-top: -10px;
}

.container {
    width: 65%;
}

.row {
    position: relative;
    border-top: solid;
    border-bottom-color: grey;
}

.gig-calendar h1 {
    font-family: 'EB Garamond', serif;
    font-size: 50pt;
    margin-left: 35%;
    padding-bottom: 50px;
}

.gig-date-day {
    font-family: 'EB Garamond', serif;
    font-size: 30pt;
    position: relative;
    bottom: 0;
}

.gig-date-month {
    font-family: 'EB Garamond', serif;
    font-size: 18pt;
    text-align: center;
    position: relative;
    bottom: 0;
}

.gig-venue {
    font-family: 'EB Garamond', serif;
    font-size: 40pt;
    text-align: center;
}

.gig-info button {
    position: relative;
    margin-top: 21px;
}