.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    height: 180px;
    background: url("images/header.png");
    background-repeat: no-repeat;
    background-size: 240px;
    background-color: #0E1817;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin-top: 44px;
    margin-left: 120px;
}

.page-header h3 {
    color: #ffffff;
    font-size: 18px;
    margin-left: 280px;
    margin-top: -10px;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'EB Garamond', serif;
}

.date {
    color: #630808;

.gig-form textarea, .gig-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.gig {
    margin-bottom: 70px;
}

.gig h2 a, .gig h2 a:visited {
    color: #000000;
}
